@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  background: rgb(42, 42, 42);
  /* background */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.calc {
  width: 400px;
  height: 550px;
  background-color: #909090;
  padding: 20px;
  border: solid #000 1px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #202020;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 8px;
  grid-template-areas:
    "screen screen screen screen"
    "screen screen screen screen"
    "clear clear delete delete"
    "seven eight nine divi"
    "four five six multi"
    "one two three sub"
    "deci zed equal add";
}

.screen,
.btn {
  border-radius: 8px;
  border: solid #202020 1px;
  height: 90%;
}

.screen {
  background-color: #d8d8d8;
  width: 100%;
  grid-area: screen;
}

.btn {
  background-color: #d8d8d8;
  padding: 8px;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 2px #202020;
}

.btn:hover {
  background-color: #ffffff;
  cursor: pointer;
}

/* BUTTON/SCREEN CLASSES */
.screen {
  grid-area: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

#top-text,
#bottom-text {
  margin-right: 10px;
}

#top-text {
  font-size: 1.5rem;
}

#bottom-text {
  font-size: 3rem;
}

.clear {
  grid-area: clear;
  background-color: rgb(248, 120, 120);
}
.clear:hover {
  background-color: rgb(243, 73, 73);
}

.delete {
  grid-area: delete;
  background-color: rgb(125, 125, 255);
}

.delete:hover {
  background-color: rgb(101, 101, 251);
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zed;
}

.deci {
  grid-area: deci;
}

.divi {
  grid-area: divi;
}

.multi {
  grid-area: multi;
}

.add {
  grid-area: add;
}

.sub {
  grid-area: sub;
}

.equal {
  grid-area: equal;
}
