@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap");

:root {
  --primary-color: #f26c33;
  --secondary-color: #233441;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 94vh;
  width: 100%;
  background: rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-color);
  z-index: 1;
}

footer i {
  color: #fff;
}

.calc {
  width: 400px;
  height: 550px;
  z-index: 2;
  background-color: var(--secondary-color);
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #202020;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 8px;
  grid-template-areas:
    "screen screen screen screen"
    "screen screen screen screen"
    "clear clear delete delete"
    "seven eight nine divi"
    "four five six multi"
    "one two three sub"
    "deci zed equal add";
}

.screen,
.btn {
  border-radius: 8px;
  border: none;
  height: 90%;
}

.screen {
  background-color: #101010;
  color: #ffffff;
  width: 100%;
  grid-area: screen;
}

.btn {
  background-color: var(--secondary-color);
  padding: 8px;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 2px 1px 3px #101010;
  color: #ffffff;
  transition: transform 0.1s ease-in;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.oper,
.equal {
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* BUTTON/SCREEN CLASSES */
.screen {
  grid-area: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

#top-display,
#bottom-display {
  margin-right: 15px;
}

#top-display {
  font-size: 2rem;
}

#bottom-display {
  font-size: 3.5rem;
}

/* Grid Item Styles */
.clear,
.delete {
  font-size: 1.2rem;
}

.clear {
  grid-area: clear;
  letter-spacing: 2px;
  background-color: var(--primary-color);
  color: #fff;
}

.delete {
  grid-area: delete;
  letter-spacing: 2px;
  border: solid 2px var(--primary-color);
  background-color: var(--secondary-color);
  color: #fff;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zed;
}

.deci {
  grid-area: deci;
}

.divi {
  grid-area: divi;
}

.multi {
  grid-area: multi;
}

.add {
  grid-area: add;
}

.sub {
  grid-area: sub;
}

.equal {
  grid-area: equal;
}
